* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lavishly Yours", cursive ;
}

main {
  font-family: 'Segoe UI', sans-serif;
  background: url('./assets/background.jpg') no-repeat center center fixed;
  background-size: cover;
  color: white;
  min-height: 100vh;
}

header {
  padding: 1rem;
  text-align: center;
  justify-items: end;
}

nav button {
  padding: 10px 20px;
  font-size: 2rem;
  border: 0.5px solid white;
  background-color: transparent;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

nav button:hover {
  background-color: #ffffff55;
}

#content {
  margin-top: 15rem;
  flex: 1;
  padding: 2rem;
  background-color: transparent;
  transition: ease-in-out 1s;
}

h1 {
  color: bisque;
  font-size: 5rem;
  margin-bottom: 1rem;
}

h2 {
  color: azure;
  font-size: 3.5rem;
}

p {
  color: beige;
  font-size: 3rem;
  margin: 1rem;
}

.menu-item {
  display: flex;
  gap: 1rem;
  margin-bottom: 2rem;
  height: 5rem;
}

.contact-info {
  line-height: 1.8;
}